source/html/index.pug
extends base.pug
block content
	div(class="app")
		div(class="app__left")
			div(class="app__left__top")
				div(class="app__content app__content_padding")
					span(class="app__title")
						| Доступные колоды
					div(class="app__slider")
						div(class="card__koloda" id="div1" ondrop="CardDrop(event, this)" ondragover="allowDragover(event)")
			div(class="app__left__bottom")
				div(class="app__content rasklad" id="div2" ondrop="CardDrop(event, this)" ondragover="allowDragover(event)")
		div(class="app__right")
			div(class="app__content")
				span(class="app__title")
					| Доступные колоды
				div(class="app__select")
					div(class="app__btn-collection-wrapper" data-button-type="0")
						span(class="app__select__title")
							| Портрет
						div(class="d-flex justify-content-between")
							button(class="btn" type="button" data-button-mode="1")
								| Открытие
							button(class="btn" type="button" data-button-mode="0")
								| Закрытые
					div(class="app__btn-collection-wrapper" data-button-type="1")
						span(class="app__select__title")
							| Тест
						div(class="d-flex justify-content-between")
							button(class="btn" type="button" data-button-mode="1")
								| Открытие
							button(class="btn" type="button" data-button-mode="0")
								| Закрытые
					div(class="app__btn-collection-wrapper" data-button-type="2")
						span(class="app__select__title")
							| Текст
						div(class="d-flex justify-content-between")
							button(class="btn" type="button" data-button-mode="1")
								| Открытие
							button(class="btn" type="button" data-button-mode="0")
								| Закрытые

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <div class="app">
      <div class="app__left">
        <div class="app__left__top">
          <div class="app__content app__content_padding"><span class="app__title">Доступные колоды</span>
            <div class="app__slider">
              <div class="card__koloda" id="div1" ondrop="CardDrop(event, this)" ondragover="allowDragover(event)"></div>
            </div>
          </div>
        </div>
        <div class="app__left__bottom">
          <div class="app__content rasklad" id="div2" ondrop="CardDrop(event, this)" ondragover="allowDragover(event)"></div>
        </div>
      </div>
      <div class="app__right">
        <div class="app__content"><span class="app__title">Доступные колоды</span>
          <div class="app__select">
            <div class="app__btn-collection-wrapper" data-button-type="0"><span class="app__select__title">Портрет</span>
              <div class="d-flex justify-content-between">
                <button class="btn" type="button" data-button-mode="1">Открытие</button>
                <button class="btn" type="button" data-button-mode="0">Закрытые</button>
              </div>
            </div>
            <div class="app__btn-collection-wrapper" data-button-type="1"><span class="app__select__title">Тест</span>
              <div class="d-flex justify-content-between">
                <button class="btn" type="button" data-button-mode="1">Открытие</button>
                <button class="btn" type="button" data-button-mode="0">Закрытые</button>
              </div>
            </div>
            <div class="app__btn-collection-wrapper" data-button-type="2"><span class="app__select__title">Текст</span>
              <div class="d-flex justify-content-between">
                <button class="btn" type="button" data-button-mode="1">Открытие</button>
                <button class="btn" type="button" data-button-mode="0">Закрытые</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/main.min.js"></script>
</html>
